@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=IBM+Plex+Mono:wght@400;500;600&family=Noto+Sans:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@theme {
  --color-crimson: #b4233c;
  --color-crimson-bg: #fff1f3;
  --color-marigold: #d99a24;

  --color-paper: #f8f5ef;
  --color-paper-dim: #f1ede5;

  --color-white: #ffffff;

  --color-ink: #22303f;
  --color-ink-light: #405060;
  --color-ink-60: rgba(34, 48, 63, 0.6);
  --color-ink-15: rgba(34, 48, 63, 0.15);

  --font-display: "Baloo 2", sans-serif;
  --font-body: "Noto Sans", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
}

:root {
  --crimson: #b4233c;
  --crimson-bg: #fff1f3;
  --marigold: #d99a24;

  --paper: #f8f5ef;
  --paper-dim: #f1ede5;

  --white: #ffffff;

  --ink: #22303f;
  --ink-light: #405060;
  --ink-60: rgba(34, 48, 63, 0.6);
  --ink-15: rgba(34, 48, 63, 0.15);
}

body {
  margin: 0;
  background: var(--paper);
  color: var(--ink);
  font-family: "Noto Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Baloo 2", sans-serif;
}

.font-display {
  font-family: "Baloo 2", sans-serif;
}

.font-mono {
  font-family: "IBM Plex Mono", monospace;
}